<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.missa_diaria_app">

    <!-- Permissões necessárias -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Permissão para acesso à internet -->

    <application
            android:label="missa_diaria_app"
            android:name="${applicationName}"
            android:icon="@mipmap/ic_launcher">

        <!-- Configurações da atividade -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:enableOnBackInvokedCallback="true"> <!-- Adicione esta linha -->

            <!-- Define o tema do Flutter -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme" />

            <!-- Filtro de intenção para a atividade principal -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Metadados para o Flutter -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        
    </application>

    <!-- Requisições de intenções -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>
