<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjNMsDtlMQzYRN0N1WbRWwMvZh7MFUC7I</string>
	<key>GCM_SENDER_ID</key>
	<string>10120062313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.missaDiariaApp</string>
	<key>PROJECT_ID</key>
	<string>santuariosaofrancis</string>
	<key>STORAGE_BUCKET</key>
	<string>santuariosaofrancis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10120062313:ios:fcdfbada8a7a1b098009f8</string>
</dict>
</plist>